html {
   box-sizing: border-box;
    font-size: 57.5%;
    min-height: 100%;
    position: relative;
}

*, *:before, *:after{
    box-sizing: inherit
}

*{
    margin: 0;
    padding: 0;
}
html, body{
    overflow-x: hidden;
}

body{
    font-size: 1.6rem;
    height: 100%;
    background-color: var(--negro);
    
}

/***********************************************************

        ************ VARIABLES **********

************************************************************/
:root{
    --amarillo: #F5DD20;
    --amarilloOscuro: #F58A20;
    --blanco: #fff;
    --gris: #524e4e;
    --grisClaro: #969ba2;
    --rojo: #d0331f;
    --amarilloVivo: #fbff00;
    --azul: #0000a0;
    --negro: #000000;
    --hoverLink: #373b3f;

    --fuenteTitulos: "Anton", serif;

    --shadow: 9px 8px 8px 0px rgba(0, 0, 0, 0.466);
    --shadowClaro: 4px 6px 5px 2px rgba(255, 255, 255, 0.37);
}


/***********************************************************

        ************ ESTILOS GENERALES **********

************************************************************/

h1{
    font-size: 4.8rem;
    font-family: var(--fuenteTitulos);
    font-weight: bold;
}

h2{
    font-size: 4rem;
    font-family: var(--fuenteTitulos);
}

h3{
    font-size: 3.6rem;
}

h4{
    font-size: 2.8rem;
}

img{
    width: 100%;
}

ul{
  list-style: none;
}

a{
    text-decoration: none;    
    color: unset;
}

a:hover{
    color: var(--negro);
}

.form-control{
    font-size: unset;
}

.btn{
    font-size: unset;
}

a:hover{
    color: var(--hoverLink);
}


/***********************************************************

        ************ HEADER **********

************************************************************/   
.header {
    height: 100vh;
    background-color: var(--negro);
    opacity: 0;
    visibility: hidden;
    transition: opacity 2.5s ease-in-out, visibility 0s linear 0.5s;
    background-image: url(../img/icons/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
    
}

.header.show {
    opacity: 1;
    visibility: visible;
}

.header .content-nav {
    margin: 0 auto;
}

.content-nav {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    position: fixed;  /* Fija el header en la parte superior */
    top: 0;           /* Colócalo en la parte superior de la página */
    left: 0;          /* Alineación a la izquierda */
    width: 100%;      /* Asegura que ocupe todo el ancho de la pantalla */
    z-index: 1000; 
     opacity: 1;       /* Asegura que sea visible */
    visibility: visible; 
}

.navbar {
    padding: 2rem;
    width: 90%;
    margin-left: 3rem;
}

.navbar__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.navbar__item {
    color: var(--amarilloVivo);
    font-size: 2rem;
    font-weight: 600;
}



.navbar__item a:hover {
    color: var(--amarilloOscuro);
}

.content-redes {
    padding: 2rem;
    width: 10%;
    margin-right: 3rem;
}

.redes__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.redes__item {
    font-size: 2rem;
    color: var(--rojo);
}

.redes__item a:hover {
    color: var(--grisClaro);
}

.content-info {
    margin: 30rem auto;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-header__logo {
    width: 30rem;
    border: solid .5rem var(--blanco);
    padding: 4.5rem;
    border-radius: 50%;
    background-color: var(--negro);
}

.info-header__titulo {
    margin-top: 2rem;
    text-align: center;
}

.info-header__titulo h1 {
    color: var(--blanco);
}

.info-header__titulo h4 {
    color: var(--negro);
    font-weight: 700;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}



/***********************************************************

        ************ MAIN **********

************************************************************/

.main{
    background-color: var(--negro);
    margin: 0 auto;
    
}

/*************** INFORMACION ***************/
.info{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: var(--negro);
    padding: 5rem 0;
}

.info__icons,
.info__text {
    width: 50%;
    transition: transform 1s ease-out;
}

.info__icons{
    padding: 10rem 0;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transform: translateX(-100%);
}

.iten-icons {
    width: 12rem;
    height: 12rem;
    border: solid 1.5px var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    transform: rotate(45deg);
}

.iten-icons__icon{
    width: 8rem;
    transform: rotate(-45deg);
    color: red !important;
}

.info__text{
    padding: 3rem 5rem;
    width: 100%;
    margin: 0 auto;
    color: var(--blanco);
    transform: translateX(100%);
}

.text-info__texto{
    margin-top: 2rem;
    text-align: justify;
} 

/*************** PRODUCTOS ***************/
.productos {
    width: 100%;
    background-color: var(--blanco);
    padding: 5rem 0;
}

.content-productos {
    width: 80%;
    margin: 0 auto;
}

.productos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.producto__iten {
    flex: 0 0 calc(33.3% - 4rem);
    border: solid 1px var(--negro);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: var(--shadow);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
    transform: translateX(100%);
}

.producto__iten.show {
    transform: translateX(0);
    opacity: 1;
}

.producto__iten:hover {
    transform: scale(1.1); /* Efecto de escala al pasar el mouse */
    cursor: pointer;
}

.producto-titen__titulo {
    text-align: center;
}

.producto-item__imagen {
    margin: 2rem 0;
}

.producto-item__texto {
    text-align: justify;
    line-height: 1.3;
}

.precio {
    color: var(--rojo);
    font-weight: 600;
}

.informacion {
    font-weight: 600;
}

.ver-productos {
    display: flex;
    justify-content: end;
    color: var(--azul);
    font-weight: 600;
    text-decoration: underline;
}



/*************** CONTACTO ***************/
.contacto{
    padding: 5rem 0;
    width: 80%;
    margin: 0 auto;
}

.content-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto-titulo{
    grid-row: 1;
    color: var(--blanco);
    margin-bottom: 5rem;
}

.redes{
    width: 70%;
}

.redes__iten{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--blanco);
    flex-wrap: wrap;
    margin-bottom: 4rem;
}


.formulario{
    width: 70%;
    grid-row: 2;
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: var(--shadowClaro);
}

.form-contacto__control{
    margin-bottom: 1.5rem;
}

.form-contacto__control:focus{
    border: unset;
}

.formulario-contacto__btn{
    display: flex;
    justify-content: end;
}
/*************** UBICACION ***************/

.ubicacion{
    background-color: var(--blanco);
    padding: 5rem 0;
}

.content-ubicacion{
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.content-ubicacion.show {
    opacity: 1;
    transform: translateY(0);
}

/*************** FOOOTER ***************/   
.footer{
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding: 5rem 0;
}

.footer__titulo{
    color: var(--blanco);
}

.footer__redes{
    width: 100%;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    color: var(--blanco);
}

/***********************************************************

        ************ MEDIAQUERYS **********

************************************************************/
@media screen and (max-width: 2465.33px){
    .content-nav{
        width: 100%;
    }

    .navbar{
        width: 85%;
    }

    .content-redes{
        width: 15%;
    }

}

@media screen and (max-width: 1500px){
    .info{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        padding: 2rem;
        width: 90%;
        margin: 0 auto;
        height: 100%;
    }

    .info__text{
        grid-row: 1;
    }

    .info__icons{
        grid-row: 2;
        padding: unset;
        margin: 3rem auto;
    }
}

@media screen and (max-width: 1440px){
    .redes__item{
        font-size: 1.6rem;
    }

    .navbar__item{
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 1200px){

    .content-nav{
        width: 100%;
    }

    .navbar{
        width: 80%;
    }

    .content-redes{
        width: 20%;
    }

    .content-info{
        margin: 2rem auto;
    }
  
}

@media screen and (max-height: 1024px){
  .content-info{
      margin: 20rem auto;
  }
}

@media screen and (max-width: 890px){
    .iten-icons{
        width: 8rem;
        height: 8rem;
    }
    .iten-icons__icon{
        width: 4rem;
    }
}

@media screen and (max-height: 800px){
  .content-info{
      margin: 10rem auto;
  }
}

@media (max-width: 768px) {

    .navbar{
        width: 70%;
    }

    .content-redes{
        width: 30%;
    }

    .navbar__nav {
        display: none;
        flex-direction: column;
        width: 20rem;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: var(--negro);
    }

    .navbar__nav.active {
        display: flex;
    }

    .navbar__item {
        text-align: center;
        margin: 1rem 0;
    }

    .hamburger {
        display: block;
    }

    ul{
        padding-left: unset;
    }
}


@media screen and (max-width: 500px){
    .info{
        width: 100%;
    }

    .info__text{
        padding: 3rem 0;
    }

    .content-productos{
        width: 90%;
    }

    .productos{
        justify-content: center;
    }

    .producto__iten{
        flex: 0 0 calc(100% - 4rem);
        
    }

    .contacto{
        width: 100%;
        padding: 5rem  2rem;
    }
    
    .redes{
        width: 100%;
    }

    .formulario{
        width: 100%;
    }

    .ubicacion{
        padding: 5rem 2rem;
    }

    .content-ubicacion{
        width: 100%;
    }

    .footer{
        width: 90%;
    }

    .navbar__item:last-of-type{
        margin-bottom: 2rem;
    }
    
}